
.App {
  text-align: center;
  background-image: url('big-background.jpg');
  background-size: cover;
  padding:100px 0;
}

.App-logo {
  padding-top: 50px;
  animation: App-logo-spin infinite 10s linear;
  height: 400px;
}

.App-header {
  background-color: #222;
  height: 800px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button-login-wrapper{
  padding: 50px 0;
}

.button-login-wrapper > button{
  padding: 5px 80px;
  background-color:rgba(0,0,0,0);
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  border:3px solid white;
}

.button-login-wrapper > p{
  font-size: 1.5em;
  color: white;
}

.button-login-wrapper > p > a:hover{
  
  cursor: pointer;
  text-decoration: underline;
}


.button-login-wrapper > button:hover{
  padding: 5px 80px;
  background-color:rgba(255, 255, 255, 1);
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  border: 3px solid black;
  cursor: pointer;
}

.wrapper-login > .wrapper-input-login{
  padding: 10px;
  padding-right: 5%;
  display: inline-block;
}

.wrapper-login > .wrapper-input-login > span{
  color: white;
  font-size: 1.5em;
}

.wrapper-login > .wrapper-input-login > input{
  border:3px solid white;
  color: white;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0);
  padding:5px 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
